ion-split-pane{ 
    --border: none !important;
    ion-menu{
     --background: var(--ion-color-primary) !important; 
        ion-content{            
            --background: var(--ion-color-primary) !important; 
            ion-list-header{ 
                --background: var(--ion-color-primary) !important;
           
            }
            ion-item{
                --background: var(--ion-color-primary) !important;
                color: #fff;
                font-size: 20px;

                 ion-icon{ padding-right: 10px !important; color: #fff; font-size: 28px;}
            }
        }
    }
} 


.list-md {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
     background: var(--ion-item-background,var(--ion-background-color,--ion-color-primary))!important; 
}

.fontsyle{
    font-size: 11px;  
}

h5 {
    margin-top: 22px;
    margin-bottom: 22px;
     font-weight: bold; 
    line-height: 1.2;
  
}



