<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar  >
          <ion-title dir="ltr"><h5>News</h5></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]"  detail>
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
         </ion-menu-toggle> 
         </ion-list>   
        
          <ion-list (click)="logout()">
            <ion-item lines="full">
              <ion-icon slot="start" name="power"></ion-icon>
              <ion-label>
                LogOut
              </ion-label>
              
            </ion-item>
          </ion-list> 
      </ion-content>

      <ion-footer text-center>
        <ion-toolbar>  
              <p  class="fontsyle">©Copyrights 2020, All Rights Reserved by Abc Pvt. Ltd.</p>
              <p  class="fontsyle">App Version v0.0.1</p>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
